.nav-bar {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  opacity: 0.9;
  height: 100px;
  align-items: center;
  letter-spacing: 1.5px;
}

.logo-img {
  height: 100px;
  /* width: 100%; */
}
.nav-bar > a {
  margin: 10px;
  font-weight: 600;
  vertical-align: middle;
}

.test-div {
  background-color: yellow;
}

.hero-img {
  width: 100%;
  margin-top: 0;
  position: relative;
  text-align: center;
  /* background-image: url("./images/cda-interview-guide.jpg"); */
}

.overlay-text {
  /* z-index: 1; */
  font-size: 5vw;
  /* font-size: xx-large; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 3px;
}

hr {
  color: white;
}

.maintext-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.blue-text {
  color: navy;
}

li {
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: navy;
  height: 60px;
  color: white;
  text-align: center;
  font-size: small;
  font-weight: 600;
  align-items: center;
}
